<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.body_class }}">
    {{ content }}

    <script src="{{ site.url }}/assets/javascripts/jquery.min.js"></script>
    <script src="{{ site.url }}/javascripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.url }}/lightslider.js"></script>
    <script>
        window.addEventListener("load", function() {
          $('#load_screen').attr("style", "display:none");
        });
    </script>
    <script>
      $(document).ready(function(){
        $(".tigger").on('click', function(){
          $(this).siblings("p").toggleClass('visible');
        });
      });
    </script>
  </body>
</html>
