---
layout: default
body_class: "page-template"
---


<div id="panel_bg">
  <div id="panel" class="flex-column">
    <header>
      <h2>{{ page.title }}</h2>
    </header>
    <div class="text">
      {{ content }}
    </div>
    <div id="slider_wraper" class="flex-column">
    <ul id="slider" class="flex-row">

      {% for post in site.categories.architecture %}
        <a href="{ site.url }}{{ post.url }}" class="img-wrap">
          <div class="description description--grid">
            <a href="{{ site.url }}{{ post.url }}" class=""><h3>Mother's Love</h3></a>
            <p>Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan. <em>&mdash; Gary L. Francione</em></p>

          </div>
          <li class="item">
            <img src="{{ site.url }}{{ post.image }}" alt="" class="thumb">

          </li>
        </a>
      {% endfor %}
    </ul>
  </div>

  </div>

  <div class="preview">

  </div>
  <i class="fa fa-times close" aria-hidden="true" ></i>
</div>
